<app-default-login-layout

  title="Login into account"
  primaryBtnText="Login Now"
  secondaryBtnText="Sign Up"

  (submit)="submit()"
  (navigate)="navigate()"

>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="user@email.com"
    >
      <img src="email-icon.svg" alt="email" />
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your Password"
    >
      <img src="password-icon.svg" alt="email" />
    </app-primary-input>
    <span>Forgot Password?</span>
  </form>
</app-default-login-layout>
